/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}


#items {
  width:100%;
}

#items ul {
  list-style: none;
  margin:0;
  padding:0;
}

#items li {
  margin:0.75em 0;
}

#items li .message {
  padding:2px;
}

#items li input {
  border:none;
  height:1em;
  font-size:1.8em;
}

#items .item {
  min-height:40px;
  background:#eee;
  border:2px solid #ddd;
}

#items .item.done {
  background-color:#cfb;
}

#items .item.skip {
  background-color:#ccc;
}

#items .item.someday {
  background-color:#fff;
  color:#888;
}

#items .item.blocked {
  background-color:#fb8;
}

#profile .item {
  font-size:2em;
}

#profile {
  border:4px solid #f5f5ff;
  background:#eef;
  padding:8px;
}

.menu {
  font-size:14px;
  padding:0px 4px;
}

.menu a {
  padding:0 4px;
  color:#88d;
}

.menu a[href="#details"] {
  float:right;
}

.ava {
  float:left;
  margin-right:4px;
}

.ava img {
  height:40px;
  margin:0 auto;
  padding:0;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;
  font-size:14px;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
  position:absolute;
  top:0;
  right:0;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}


