/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}


#items {
/*  background:#777;*/
  width:100%;
}

#items ul {
  list-style: none;
  margin:0;
  padding:0;
}

#items li {
  font-size:1.4em;
  margin:0.75em 0;
  padding:8px;
  -webkit-transition-property:background-color;
  -webkit-transition-duration:0.5s;
}

#items li:hover {
  background:#bbb;
}

#items li .message {
  min-height:1.2em;
}

#items li input {
  border:none;
  height:1em;
  font-size:1.8em;
}

#items .item {
  background:#eee;
  border:2px solid #ddd;
}

#profile .item {
  font-size:2em;
}

#profile {
  border:4px solid #f5f5ff;
  background:#eef;
  padding:8px;
}

.menu {
  font-size:14px;
  padding:0px 4px;
  margin-left:1.2em;
}

.menu a {
  padding:8px;
  color:#99d;
}

.menu a[href="#edit"] {
  float:right;
}

.ava {
  float:left;
  margin-right:4px;
}

.ava img {
  height:1.2em;
  margin:0 auto;
  padding:0;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;
  font-size:14px;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
  position:absolute;
  top:0;
  right:0;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}


