/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}

#items, #active {
  width:100%;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

li {
  margin:0.75em 0;
}

li .message {
  padding:2px;
}

input[type=text] {
  font-size:1em;
  width:90%;
}

.item {
  min-height:48px;
}

.details {
  padding:4px;
}

.item, .details {
  border:2px solid #aaf;
  background:#dadada;
}

.item.noshare, .details.noshare {
  border:2px solid #faa;
}

.shared {
  border:2px solid #4d4;
}

.done {
  background-color:#cfb;
}

.active {
  background-color:#ff9;
}

.someday {
  background-color:#fff;
  color:#888;
}

.blocked {
  background-color:#fb8;
}

#profile {
  border:4px solid #f5f5ff;
  background:#eef;
  padding:8px;
}

#profile label {
  display:block ;
}

.ava {
  float:left;
  width:40px;
  margin-right:4px;
/*  background:#eee;*/
/*  border:4px solid #fff;*/
  padding:4px;
}

.ava img {
  height:40px;
  margin:0 auto;
  padding:0;
}

form {
  padding:4px;
  margin:6px;
/*  background-color:#ddd;*/
}

.small {
  font-size:0.8em;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
  position:absolute;
  top:0;
  right:0;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}


